<section class="content home">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-7">
          <h2>PI6A Centros de cómputo</h2>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <!-- Task Info -->
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <table class="table table-hover dashboard-task-infos">
                <tbody>
                  <tr>
                    <td style="width:70%;"><strong>Procedimiento</strong></td>
                    <td style="width:30%;">
                      <a href="https://drive.google.com/file/d/1b8z4Bss7BX0_IrkxPgDvZomaHGuUNRFb/view?usp=sharing"
                        target="_blank">
                        <span class="label bg-green">Consultar</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="header">
          <h2><strong>Registros</strong></h2>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-hover dashboard-task-infos">
              <tbody>
                <tr>
                  <td style="width:70%;">R1PI6A Planificacion cuatrimestral del centro de computo</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1TlrgXqCgMLRuZ3Ek3D1snprBagj-Yzln/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R2PI6A Bitacora de incidencias del centro cómputo</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1FJURIA9E7sQtZbsH3o6fmUF0PjhNrcLp/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R3PI6A Solicitud de instalación de software</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1xsJWN2OOtMFNeHG-m21EbnJs9X7uOzXD/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R4PI6A Apartado de centro de cómputo</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1XKLwLZQiQteo7hNLAbj_EXbckViIQncd/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R5PI6A Estadística cuatrimestral del centro de cómputo</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1wLjBOixZwjnki0EQevjGyofR-rqpS19-/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R6PI6A Programa anual de mantenimiento centros de cómputo</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1FnLCO_cw3Suw0w1c6_KYrf9NNFaktJnd/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>

  </div>
</section>