<section class="content home">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-7">
          <h2>PI5 Mantenimiento de infraestructura</h2>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <!-- Task Info -->
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <table class="table table-hover dashboard-task-infos">
                <tbody>
                  <tr>
                    <td style="width:70%;"><strong>Procedimiento</strong></td>
                    <td style="width:30%;">
                      <a href="https://drive.google.com/file/d/1F_tajeLwVzjeDWoFZ8sw-heJ2LxQAkOi/view?usp=sharing"
                        target="_blank">
                        <span class="label bg-green">Consultar</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="header">
          <h2><strong>Registros</strong></h2>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-hover dashboard-task-infos">
              <tbody>
                <tr>
                  <td style="width:70%;">R1PI5 Programa anual de mantenimiento preventivo</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1WAu5ShAwJli7X3EaDgLyndSWKYGjsyZn/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R2PI5 Solicitud de soporte o mantenimiento</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1-dzgZ0wGhXtHp-ylUq3TvlQNGSOJyTOL/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R3PI5 Registro de control de gasolina por vehículo</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1QF_LXIQWst0oV-FIlc30A16Ukymq-iZW/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R4PI5 Solicitud de espacios y mobiliario</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1lGkbnGxdD1DBBue3V2eI4_QxE2F_ApJb/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R5PI5 Solicitud de vehículo oficial</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1bJ5iTMKUVwp_epUB7JS5nC3WGUGzVwes/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>

  </div>
</section>