<section class="content home">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-7">
          <h2>PO1G Servicio social</h2>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <!-- Task Info -->
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <table class="table table-hover dashboard-task-infos">
                <tbody>
                  <tr>
                    <td style="width:70%;"><strong>Procedimiento</strong></td>
                    <td style="width:30%;">
                      <a href="https://drive.google.com/file/d/1F03NVsCSN4AT4-SgbAI0LK00KHlGmXAn/view?usp=sharing"
                        target="_blank">
                        <span class="label bg-green">Consultar</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="header">
          <h2><strong>Registros</strong></h2>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-hover dashboard-task-infos">
              <tbody>
                <tr>
                  <td style="width:70%;">R1PO1G Registro de inscripción a servicio social</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/15cM1IOHzYD3q25dSB4eS5R_5_R_4M_Yc/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R2PO1G Reporte de Actividades</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1xAwBWlOBVoZ0HNk-hM23t8MlUsbLwgm9/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R3PO1G Constancia de Término de Servicio Social</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1s6JCZcYdsms7SPCSNYZN-z-7LeVKAx2f/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R4PO1G Carta de liberación servicio social</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1o5D-6cIq-2vITeqIDiBIhzr8Q3M4JVqQ/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>

  </div>
</section>