<section class="content home">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-7">
          <h2>PO1B Evaluación del aprendizaje</h2>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <!-- Task Info -->
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <table class="table table-hover dashboard-task-infos">
                <tbody>
                  <tr>
                    <td style="width:70%;"><strong>Procedimiento</strong></td>
                    <td style="width:30%;">
                      <a href="https://drive.google.com/file/d/13h6PREgpLChBnksSMEkUHwxfbPGXbkv5/view?usp=sharing"
                        target="_blank">
                        <span class="label bg-green">Consultar</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="header">
          <h2><strong>Registros</strong></h2>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-hover dashboard-task-infos">
              <tbody>
                <tr>
                  <td style="width:70%;">R1PO1B Seguimiento y medición de evaluaciones parciales</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1uTowD4bEqtXKVuhTORLxWqXsyYFvWETE/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R2PO1B Seguimiento y medición de evaluaciones parciales IDIOMAS</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1Scz04J36rLWhQVdIhEFOI_Nox9MorazZ/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R3PO1B Acta modificatoria de calificación</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1O0Qsb1ed5He-wumD7YKNn-LUkLMu8hzg/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R4PO1B Acta modificatoria de faltas</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1QuAc8ZF92lgoIrsDy5t3McDxnUedc7Sm/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R5PO1B Calendario para exámenes parciales regulares</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1FFEEpjJhTdteYZA8BYtSsuq5_Qv8BqGi/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>

  </div>
</section>