<section class="content home">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-7">
          <h2>PI8 Competencia y toma de conciencia</h2>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <!-- Task Info -->
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <table class="table table-hover dashboard-task-infos">
                <tbody>
                  <tr>
                    <td style="width:70%;"><strong>Procedimiento</strong></td>
                    <td style="width:30%;">
                      <a href="https://drive.google.com/file/d/1kso5D16olZPyhfSecyJfI7oJvdmdk1PT/view?usp=sharing"
                        target="_blank">
                        <span class="label bg-green">Consultar</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="header">
          <h2><strong>Registros</strong></h2>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-hover dashboard-task-infos">
              <tbody>
                <tr>
                  <td style="width:70%;">R1PI8 Programa de inducción</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1g0y_dI0GZGbT0dVMNcZKEppa8If9H965/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R2PI8 Descripción de puesto</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1lUIELdj8J2xQ0aR_JofG-RQMDdPNL2N0/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R3PI8 Solicitud capacitación</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1QZtoKDHY5AKREIlpRpE_Jh-q5QMUPU6t/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R4PI8 Programa de capacitación</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1U3vu7pMa6tCQziG8x61CYBkAd9m0n9PS/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R5PI8 Lista de asistencia</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1Vk-p1gmNUJyXlT5Cpp6SUbwEemj0TP-b/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="header">
          <h2><strong>Anexos</strong></h2>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-hover dashboard-task-infos">
              <tbody>
                <tr>
                  <td style="width:70%;">A1PI8 Estructura C 2015 Consejo</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1qV92v-AVqP84vJ67maHVJ_WGhc3UF753/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>

  </div>
</section>