<section class="content home">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-7">
          <h2>MC Manual de Calidad</h2>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <!-- Task Info -->
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <table class="table table-hover dashboard-task-infos">
                <tbody>
                  <tr>
                    <td style="width:70%;"><strong>Procedimiento</strong></td>
                    <td style="width:30%;">
                      <a href="https://drive.google.com/file/d/1ueVEETBjGkfHzdSeTIHgTUXpWebZYacV/view?usp=sharing"
                        target="_blank">
                        <span class="label bg-green">Consultar</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="header">
          <h2><strong>Registros</strong></h2>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-hover dashboard-task-infos">
              <tbody>
                <tr>
                  <td style="width:70%;">R1MC Contexto de la organización</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1ZR4jGh7v1nyctMKL2ClIcqSIisg1AjwJ/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R2MC Mapa de procesos</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/12kKxm1yN3LGC8KxYMivxexnw7Bz8E7fZ/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R3MC Tablero de control</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1OHNu7NHuOVT1KsNhANW8aAKZXsia" target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R4MC Objetivos de calidad</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1U1lkKlF-ybOg82WpSx-dO8XHD0yFwrnK/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="header">
          <h2>Anexos</h2>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-hover dashboard-task-infos">
              <tbody>
                <tr>
                  <td style="width:70%;">A1MC Interacción de procesos</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1gDe2CRIB_41kLqkcQh8Rk9cpqZULBo_v/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">A2MC Tabla de responsabilidades y autoridades</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1DhlZfUjHS1h2GqRCCDvGmUDldLeIQZYs/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">A3MC Política integral</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1nVcbgESkeMPv7RAFNG7oZyr5CErOatU4/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">A4MC Tabla de congruencia</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1s1_BrrpDoPtDQChwqWvy12O97W8bKTG4/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">A5MC Técnicas estadísticas</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/14sfE9fT3U8tUfMSnEa4XgwV3B3hyBpHd/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">A6MC Responsable del SGI</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1yUN5ZQCy_SI-RXD8DdZhkPnkMj3PmoQD/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>

  </div>
</section>