<section class="content home">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-7">
          <h2>PO2 Servicios escolares</h2>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <!-- Task Info -->
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <table class="table table-hover dashboard-task-infos">
                <tbody>
                  <tr>
                    <td style="width:70%;"><strong>Procedimiento</strong></td>
                    <td style="width:30%;">
                      <a href="https://drive.google.com/file/d/1PrtPMn0VBrAohpnrgSX7iTecObHEJepX/view?usp=sharing"
                        target="_blank">
                        <span class="label bg-green">Consultar</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="header">
          <h2><strong>Registros</strong></h2>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-hover dashboard-task-infos">
              <tbody>
                <tr>
                  <td style="width:70%;">R1PO2 Concentrado de aspirantes admitidos</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1zaBX4JnhT9TwQzULpRsTVOlvbSzJ0gDj/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R2PO2 Carta compromiso</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1g5lXgtzL2mwq8hLO7_pDUNx6IwMWz8X5/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R3PO2 Lista de alumnos de nuevo ingreso</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1JkLj5wi_1flK7YjRgARP0F1RTHN7Ztiq/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R4PO2 Solicitud de baja definitiva</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1MedOp9v5fsJP554xpbbT_oFwt-AAeF_v/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R5PO2 Solicitud de baja temporal</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/18Skt6ydxOBUvslMpmoFuojroXLIYPaX_/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R6PO2 Análisis de causas de baja</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1xo0BZ9YzrFjIBO4IfNHBp0RGiKBhxTU7/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R7PO2 Constancia de no adeudo</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/19k8MWxVOie2haZH0o5ikG19GEjqFMk1r/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R8PO2 Solicitud de trámites de servicios escolares</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1LIcBC5ZZGIjzDlw2c-GKrfuSnBM_PBca/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R9PO2 Control de documentos del alumno en expediente</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1lginOmENCsSJAEJJz7WsE4WIflcISQAq/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R10PO2 Solicitud de evaluación por competencias</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1ciZDk3GTAm8gECy-PWcJ6zFzDeOFXhXt/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R11PO2 Solicitud de evaluación especial</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1GKSSewK006k9xFVmAt9Mb25-vTzeHHHv/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R12PO2 Carta de exención de exámen profesional</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1fAUessVwLvHeljG4VAcLdPK3UU__UL4m/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R13PO2 Certificado de terminación de estudios</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1WBrWN2EqU24P7MnmAXCFTg1GTOLxyiv3/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R14PO2 Certificado parcial de estudios</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/116u_WM7eaNvYZgr246muyf6VOYeQOd_s/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R15PO2 Constancia de estudios</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1wFC4b4OcNLf4lOTfDsdfXAjUXNKU0HFl/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R16PO2 Kardex académico</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1XwipDLqUOGP068W1iZYI46aa7YmDMw9a/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R17PO2 Constancia de estudios con calificaciones</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/17dAM70k_AJ6cktB1B6vcO_Abq0zD7Y83/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R18PO2 Constancia de estudios con fotografía</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/13lWX3tfqxeoiRjmLKJ1MYKt7WRbfq_QM/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R19PO2 Acta de descarga académica</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1BR6h5p2TDcreP8CrsSet2tAthqeD93xm/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R20PO2 Calificación de exámen por competencia</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1lFpq4CNb5RelRh2j9LsaIHkNlTvg445z/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R21PO2 Calificación de exámen especial</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1D7TrcC7s4MkYAFOy8bU23IiF1bJIXzZY/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R22PO2 Bitácora de certificados de estudios</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/14N5JGbigveYnj1KzdmOzENCrAm8bDtwJ/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R23PO2 Solicitud de cambio de programa educativo</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1qPRCVeW9E6YXmRLm3d_SYZ7qidS5dW1M/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R24PO2 Carta de evaluación de cambio de programa educativo</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1vSJm4xM2Fc5eRAIT2DxHQVdKP-bjWTI6/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R25PO2 Dictámen de cambio de programa educativo</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1sjqw-20jWVzKyJ-ynU9l1ItKhm3-R5iK/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R26PO2 Acta de equivalencia de estudios</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/12MhCDXZ3J1lpYjP4g3iiztPJ1iE6GJyY/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R27PO2 Calendario de evaluación por competencias y-o especial</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1wFwG6wyIDuPxV9cf_QM1k98fUWFPTOw1/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R28PO2 Carga académica AGRO</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1SjCS0hciKEpUz3IDb3Ixc3TekmS1xSD8/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R28PO2 Carga académica BIO</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1f7kbZ6xRDAeO1YLHbC7GAVz3-Cx4PuXx/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R28PO2 Carga académica ILT</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1gTnPrjEUW7FjPVu-ymEh27Gw0pV5Sf2z/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R28PO2 Carga académica IND</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/12TDTU0cxEBYFKyvbMiPZjAZfGtu_dELX/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R28PO2 Carga académica ISW</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/13F00xwJYOXWdfxb2pZNJ4VeoODc2K6jJ/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R28PO2 Carga académica LAG</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1DIzWpC0DvWheH8IVVZuQpwqqEStt9suJ/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</section>