<section class="content home">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-7">
          <h2>PO1D Programa institucional de tutorías</h2>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <!-- Task Info -->
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <table class="table table-hover dashboard-task-infos">
                <tbody>
                  <tr>
                    <td style="width:70%;"><strong>Procedimiento</strong></td>
                    <td style="width:30%;">
                      <a href="https://drive.google.com/file/d/1XDa0ZAXZhdh1e_ypfEzDkyVOCND8OfYp/view?usp=sharing"
                        target="_blank">
                        <span class="label bg-green">Consultar</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="header">
          <h2><strong>Registros</strong></h2>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-hover dashboard-task-infos">
              <tbody>
                <tr>
                  <td style="width:70%;">R1PO1D Entrevista de integración a la universidad</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1mKyBAb9BTW6BOX-oCcrsOrtdZM8_Kr-N/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R2PO1D Entrevista de consolidación a la universidad</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1J608BDPKSNfKMqhb4qx7I124tf-phqgn/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R3PO1D Primera entrevista de orientación profesional</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1zBI6fngHhSCHo5dMv3APOLtJDd5ZVA-l/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R4PO1D Segunda entrevista de orientación profesional</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1PcqZoSUlVjabyVGnDlcEbot5sUiTSlHw/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R5PO1D Bitácora de seguimiento de tutorías</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1wWlTaGjh5P84uWZ6tagZMo_CkRdpNH5r/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R6PO1D Programación de sesiones tutoriales</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1FvtvPp9TeTHvjVvFKCc2BP5tm_dhPo_S/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R7PO1D Planeación tutorial</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1EljRVGe2j8PMOWHfIFqb7kRSg-vnnMDR/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>

  </div>
</section>