<section class="content home">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-7">
          <h2>PO3 Titulación</h2>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <!-- Task Info -->
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <table class="table table-hover dashboard-task-infos">
                <tbody>
                  <tr>
                    <td style="width:70%;"><strong>Procedimiento</strong></td>
                    <td style="width:30%;">
                      <a href="https://drive.google.com/file/d/1w8UJbh9T7WSMmLTP-GEbRGbULImQ2QiI/view?usp=sharing"
                        target="_blank">
                        <span class="label bg-green">Consultar</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="header">
          <h2><strong>Registros</strong></h2>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-hover dashboard-task-infos">
              <tbody>
                <tr>
                  <td style="width:70%;">R1PO3 Autorización impresión</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1e-Y2jUAHMQqkvAoGMI6wgjp9R1SbTTOd/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R2PO3 Acta de exención de exámen profesional</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1DEoOz1Jn5rQCiHAN-vaH-HlsWoNLRm-O/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R3PO3 Acta de verificación académico-administrativo para obtención de título
                  </td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1oyoEllbL6Xc98bBsdK-c9GcCd-R-mas_/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R4PO3 Carta de entrega de documentos</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1AQrW7-4HlPa5BuJcOHYWtjGCpz1-xlxo/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R5PO3 Caratula autorizada</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1BOYOC0R2S4IAaMczRGhW5nHQv2Qs-yVk/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R6PO3 Constancia de liberación de proyecto final de estadía</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1fXgXWvh6wNnxwwnzhxTPt1kpWSO7bYXy/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R7PO2 Constancia de no adeudo</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/11wWqZjK_OIZwMM-LcqJM__byH15WPdVc/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R8PO2 Solicitud de trámites de servicios escolares</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1rz7kswUdzNeSQgFjbRhxQ7Ig3tDurGpC/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>

  </div>
</section>