<section class="content home">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-7">
          <h2>PO1A Gestión de la asignatura</h2>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <!-- Task Info -->
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <table class="table table-hover dashboard-task-infos">
                <tbody>
                  <tr>
                    <td style="width:70%;"><strong>Procedimiento</strong></td>
                    <td style="width:30%;">
                      <a href="https://drive.google.com/file/d/1_FfGLfn63guNu1Ot4pGLZsDLGIMW94IX/view?usp=sharing"
                        target="_blank">
                        <span class="label bg-green">Consultar</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="header">
          <h2><strong>Registros</strong></h2>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-hover dashboard-task-infos">
              <tbody>
                <tr>
                  <td style="width:70%;">R1PO1A Planeacion cuatrimestral del personal docente</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1waCqt-iWS27PLXpHSDwpNGwhH3GM4ZXO/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R2PO1A Planeacion didactica y seguimiento de asignatura</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1xc4zq-wLizbXvFsTsRajsgo_UfhupuUI/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R3PO1A Horario docente</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/11Y27t2vuy4F7UrYl8lUznD-ztl0XiGwh/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R4PO1A Horario por grupo</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1nOce8utMFugugtdAUelIHdy8OKQ9jdZv/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R5PO1A Compromisos del curso</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/14SdqNZ3UcMo61ssuTaVrjvDPp47Sb5UE/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R6PO1A Evaluación docente del PA</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1xBUVw87edW8V7rqkJpgMyCf2aw9ZhMsS/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R7PO1A Evaluación docente del PTC</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1V-gd1umTXFIKz6h0fST62KV20sCK3xnO/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R8PO1A Retroalimentación docente del PA</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1MeTlEF2gZIhKjQ5NCNjhd8JZ9Fit3i7P/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R9PO1A Retroalimentación docente del PTC</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1MjEomYkoDHRAx9q3PrJ4o4yEnPc_FG5g/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R10PO1A Evaluación alumnos</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1FNBlVHBrNQYYf2W69692tpBr9tIw_rPK/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R11PO1A Evaluación de clase alumnado</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/19Ig7-QYHlN5QwdqYzMgiGLFWm8LTWz_q/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R12PO1A Evaluación de clase academia</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1PUwtR0Na3JZGPGQAf_xiomZ34qq68Cqu/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R13PO1A Informe de diagnóstico de conocimientos previos</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1aleIBBZIQ98x8sPlmQFAgHUI94o23dHV/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>

  </div>
</section>