<section class="content home">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-7">
          <h2>PO1F Servicio de laboratorio</h2>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <!-- Task Info -->
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <table class="table table-hover dashboard-task-infos">
                <tbody>
                  <tr>
                    <td style="width:70%;"><strong>Procedimiento</strong></td>
                    <td style="width:30%;">
                      <a href="https://drive.google.com/file/d/1KZ1QN7kanOfj5uWHXiytF0-E1PdRlB4V/view?usp=sharing"
                        target="_blank">
                        <span class="label bg-green">Consultar</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="header">
          <h2><strong>Registros</strong></h2>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-hover dashboard-task-infos">
              <tbody>
                <tr>
                  <td style="width:70%;">R1PO1F Programa de sesiones de laboratorio</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1arazCV-QBDPJ9o-3KAJ-bnnWZL86ikLN/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R2PO1F Bitácora de actividades de laboratorio</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1hPlmj5M6ViPNj_8gJkYyNJru_0a6G0Hz/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R3PO1F Solicitud de material o equipo de laboratorio</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1jYiH2OT-kDpo3Ch9dMhfFVsW4mhIJApK/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R4PO1F Solicitud anual de calibración y mtto de equipos de laboratorio</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1z-WpQzdSX1Y8KZJEchpLhiPSFY0zk8Sh/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R5PO1F Inventario de laboratorio</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1t1mAjYnPG7-QRFL7o_3aSGzSIlmgBoNv/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R6PO1F Solicitud anual de mantenimiento de infraestructura de laboratorios</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/14bB1-JVbmIB5hZKQNbncUhMRKJ5KgYE4/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R7PO1F Verificación interna de funcionamientos de balanza de laboratorios</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1GPrZsmw6YHMl3wz3-L8MUyONTFe8WKh4/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R8PO1F Verificación interna de funcionamiento de equipos de seguridad de
                    laboratorio</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1SHu56icI7VL7CJE_Qk0VhuJ3TVdHnZQ4/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R9PO1F Verificación de temperaturas de equipos</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1pgyOdNxf-ZAQZdXRrCOVjCd76yfj_tNI/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R10PO1F Verificación de funcionamiento y calibración del potenciometro</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1i6954u1gJf_2TzkBeyldKHgJT6pRuln_/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R11PO1F Reporte de equipos de laboratorio fuera de servicio</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1uDt7BXvQKI4ZHTqMHWlQ76M86pfdsbjo/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R12PO1F Identificación de material de usuarios de laboratorio</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1c8QmAzVLqHyTq_oCWJEMZdI_mBa38t1v/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R13PO1F Solicitud para acceso y uso de los laboratorios</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1Vu2NyQwjBpz8ipoYJyG734lotBRf_UAv/view" target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</section>