<section class="content home">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-7">
          <h2>PI11 Control de procesos, productos y servicios</h2>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <!-- Task Info -->
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <table class="table table-hover dashboard-task-infos">
                <tbody>
                  <tr>
                    <td style="width:70%;"><strong>Procedimiento</strong></td>
                    <td style="width:30%;">
                      <a href="https://drive.google.com/file/d/1D_A-TRN4Asx-Ke6iISlvqEQEYn3---vx/view?usp=sharing"
                        target="_blank">
                        <span class="label bg-green">Consultar</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="header">
          <h2><strong>Registros</strong></h2>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-hover dashboard-task-infos">
              <tbody>
                <tr>
                  <td style="width:70%;">R1PI11 Calendario adquisiciones 2019</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1AZHvOdJk-18XDylBLSRLf3_XjVCDOfmu/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R2PI11 Requisición de compras</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1NqfrjHVVe3AHAX0DKo03o62hQ8p0jAkJ/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R3PI11 Cuadro comparativo de ofertas económicas</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1oNAKVF5ATEEaSCVxuwsvfWCOnOUSLLYo/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R4PI11 Reporte de facturas</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/17SibciJRmsatnAdF7N67B2DeZlhY2eJ-/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R5PI11 Encuesta de satisfacción del cliente</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1SQ1fHk11uhgVKDEaFtwuhh5uF7mSPcWK/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R6PI11 Vale de salida de material de almacen de papelería</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1t7AKezVJvxmxabFc2zl9ATb8Wz9fEmz2/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="width:70%;">R7PI11 Inventario de papeleria</td>
                  <td style="width:30%;">
                    <a href="https://drive.google.com/file/d/1VjtFxY6y3AV9gG63V5yAPHGMJpgoFqkw/view?usp=sharing"
                      target="_blank">
                      <span class="label bg-light-green">Consultar</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>

  </div>
</section>